//VEGA SANDOVAL YAGO MATTEO 
//FECHA INICIO: 24/05/2022
//FECHA FIN:

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // -- CSS -- 
        link(rel="stylesheet" href=".//styles.css")
        // -- FONTS --
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500&family=Bebas+Neue&family=Flow+Block&family=Julius+Sans+One&family=Khand:wght@300;500;700&family=M+PLUS+Code+Latin:wght@100;300;500;700&family=Nanum+Pen+Script&family=Press+Start+2P&family=Sen:wght@400;700;800&family=Staatliches&display=swap" rel="stylesheet">
        // -- ICONS -- 
        // 
        title Papelerías Estefanía
    body 
            nav 
            ul  
                li 
                    a(href="#") REDES SOCIALES 
                li 
                    a(href="#") CATEGORÍAS
                li 
                    a(href="#") CONTACTOS 
                li 
                    a(href="#") PAPELERÍAS ESTEFANÍA
                li 
                    a(href="#") <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z"/></svg>

                hr

