doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // -- CSS DOCUMENT --
        link(rel="stylesheet", href="/public/css/create-acc-c.css")
        // -- FONTS --
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">  
        // -- ICONS --
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        // -- TITLE --
        title Crear cuenta
    body 
        div.container 
            // -- BARRA DE NAVEGACIÓN --
            nav.menu 
                ul.nav-menu 
                    li 
                        img(src="/public/css/img/logo.jpeg", id="logo")
                    li 
                        a(href="/") Inicio  
        // -- INGRESO DE DATOS
        div.datos
            ul.datos-user
                li 
                    h2 Crear cuenta
                li 
                    h6 Nombre
                    input(type="text", class="nom")
                li 
                    h6 Apellido(s)
                    input(type="text", class="ap")
                li 
                    h6 Correo 
                    input(type="text", class="correo")
                li 
                    h6 Contraseña
                    input(type="text", class="pass")
                    h6 Debe contener: 
                    h6 Mínimo 6 caracteres
                li 
                    a(href="/cliente/login", class="crear") Crear cuenta


        // -- PIE DE PÁGINA --
        footer.footer 
            section.pie 
                div.feet
                    // REDES SOCIALES = social 
                    ul.social 
                        li 
                            a(href="#") <i class="fa-brands fa-instagram"></i> Instagram
                        li 
                            a(href="#") <i class="fa-brands fa-facebook"></i> Facebook
                        li 
                            a(href="#") <i class="fa-brands fa-whatsapp"></i> WhatsApp
                        li 
                            a(href="#") <i class="fa-brands fa-twitter"></i> Twitter
                    hr
                    // DIRECCIONES = dir
                    div.dir
                        h6 Contactanos:
                        h6 Tel: 01-800-5050
                        h6 Correo: papeleriasestef@gmail.com 
                        h6 Sucursales: 
                        h6 Guadalajara: 
                        h6 Emiliano Zapata #56 Col. Lindavista Tlaquepaque
                        h6 Júarez #20 Col. Centro Guadalajara
                        h6 CDMX:  
                        h6 Periférico #239 Col. Polanco 
                        h6 Monterrey:
                        h6 Ávila Camacho # 487 Col. Las Torres
                    hr
                    //ATENCIÓN AL CLIENTE = ac
                    ul.ac 
                        li 
                            a(href="#") Quejas y sugerencias
                        li 
                            a(href="#") Preguntas frecuentes
                        li 
                            a(href="#") Acerca de
                hr
                div.creator 
                    h6 Desarrollado por Yago Vega