//VEGA SANDOVAL YAGO MATTEO 
//FECHA INICIO: 24/05/2022
//FECHA FIN:

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // -- CSS -- 
        link(rel="stylesheet", href="/public/css/styles.css")
        // -- FONTS --
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
        // -- ICONS -- 
        
        // 
        title Papelerías Estefanía
    body 
        <div class="contanier">
            <nav class="nav-main">
                img(src="images/logo.jpeg" alt="PE LOGO" class="logo")
                ul
                    li 
                        a(href="#") REDES SOCIALES 
                    li 
                        a(href="#") CATEGORÍAS
                    li 
                        a(href="#") CONTACTOS 
                    li 
                        a(href="#") PAPELERÍAS ESTEFANÍA
            hr

