doctype html
html(lang="es")
    head 
        meta(charset="utf-8")
        //- Icono
        link(rel="shortcut icon" href="") 
        //- Css
        link(rel="stylesheet",href="") 
        block contenido