* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    color: #fff;
    font-family: 'Nanum Gothic';
    font-size: 12px;
}

    .producto1 {
        display: flex;
        flex-direction: row;
        
    }
.inventario {
    display: flex;
    flex-direction: column;
    padding: 40px;
}