* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

ul {
    list-style: none;
}

#logo {
    height: 75px;
    width: auto;
    padding: 10px 10px;
}

.menu {
    background: #0984e3;
}

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .nav-menu a {
            font-size: 20px;
            font-family: 'Bebas Neue';
            color: #ffffff;
            padding: 30px 30px;
            margin-right: 1175px;
        }

            .nav-menu a :hover {
                color: #525252;
            }

.cuadro-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: auto;
    background: #0093AB;
    margin-top: 100px;
    margin-left: 500px;
    padding: 20px 20px;
    font-family: 'Nanum Gothic';
    color: #ffffff;
}

    .cuadro-texto a {
        color: #ffffff;
        margin-bottom: 25px;
        margin-left: 150px;
    }
        .cuadro-texto a:hover {
            color: #525252;
        }

    .cuadro-texto h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .cuadro-texto h6 {
        font-size: 15px;
        margin-bottom: 5px;
    }

        .id {
            background: #ffffff;
            height: 25px;
            width: 250px;
        }

        .password {
            background: #ffffff;
            height: 25px;
            width: 250px;
            margin-bottom: 20px;
        }

    .cuadro-texto .button1 {    
        color: #ffffff;
        background: #525252;
    }

.footer {
    background: #0093AB;
    font-family: 'Nanum Gothic';
    font-size: 15px;
    padding: 20px 20px;
    margin-top: 100px;
}

hr {
    margin: 20px 0;
    color: #ffffff;
}

    .footer a {
        color: #ffffff;
    }

    .footer h6 {
        font-size: 15px;
    }

        .feet {
            display: flex;
            flex: 1 1 1;
            justify-content: space-between;
        }

            .social {
                margin-top: 50px;
                margin-left: 100px;
            }
                .social :hover {
                    color: #525252;
                }

            .ac {
                margin-top: 50px;
                margin-right: 100px;
            }
                .ac :hover {
                    color: #525252;
                }
            .creator {
                margin-top: 10px;
                margin-left: 500px;
            }


